{% extends "./layout.html" %}
{% set customHeader = "partial/empty-header.html" %}
{% block title %}登录{% endblock %}
{% block content %}
<div class="full-screen login-panel" ng-controller="LoginCtrl">
  <form class="full-screen-form" name="loginForm" ng-submit="login()" novalidate ng-cloak>
    <img src="/static/images/common/scrm-logo@2x.png">
    <h3>csboilerplate</h3>
    <input type="email" class="form-control" placeholder="邮箱" ng-model="email" name="email" required />
    <input type="password" class="form-control" placeholder="密码" ng-model="password" name="password" required />
    <button type="submit" class="btn btn-primary btn-form-control full-width" ng-disabled="formInfo.isLogining">{{formInfo.buttonText}}</button>
    <div class="popup-msg error-msg" ng-show="formInfo.errorMsg">{{formInfo.errorMsg}}</div>
  </form>
</div>
{% endblock %}